# Node dependencies
node_modules/
**/node_modules/

# Environment files
.env
*.env
config/*.env

# Uploads and build workspaces
uploads/
workspace/

# Logs
logs/
*.log

# System files
.DS_Store
Thumbs.db

# IDE / Editor files
.vscode/
.idea/

dump.rdb
*.rdb
srh-hof.json
*.json
!package*.json
srh-hof.json
*-service-account*.json
*-hof*.json
