
  .page-content {
    flex-grow: 1;
    /* padding: 24px; */
    
  }
  
  .header-text {
    margin-left: 25px;
    color: rgba(0, 0, 0, 0.699999988079071);
  }

  .appContainer {
    box-shadow: 6px 6px 6px 6px #979797;
    margin-bottom: 18px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width:100%;
    border-radius: 15px;
  }

  .filter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

 

  