.search-container {
    display: flex;
    justify-content: flex-start;
    padding: 20px;
    padding-left:0px
  }
  
  .search-bar {
    position: relative;
    width: 80%;
    max-width: 300px;
    display: flex;
    align-items: center;
  }
  
  .search-input {
    padding: 10px 20px;
    width: 100%;
    color: #5f6368;
  }
  
  .search-icon-button {
    padding: 10px;
    color: #5f6368;
  }
  